/*  구글 웹폰트 로딩  */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

/* reset */
a {
    color: inherit;
    text-decoration: none;
}
button, input {
    outline: none;
    border: none;
    color: inherit;
}

/* common */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
body {
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
}

.en {
    font-family: 'Exo 2', sans-serif;
}
br.mo {
    display: none;
}


/* header style */
header {
    width: 100%;
    /* fixed 사용했으니 가로 길이값 꼭 줘야함  */
    background:   rgba(0,0,0, 0.2);
    /* 헤더의 백그라운드를 많이 투명하게  */
    height: 102px;
    line-height: 102px;

    position:fixed;
    top:0;
    z-index: 9999;
    /* position은 위치와 함께 그리고 z-index를 높게 설정*/
}
header .inner-header {
    /* background: tomato; */
    width: 90%;
    margin: 0 auto;
}
header .inner-header .logo {
    /* background: skyblue; */
    float: left;
    width: 200px;
   
}

header .inner-header .logo img {
    width: 100%; 
    /* logo width를 정하고 이미지를 꽉 채워주면 됨 */
}

header .inner-header .gnb {
    /* background: violet; */
    float: left;
    margin-left: 80px;
    /* ml와 하단의 mr로 간격 띄움 */
}

header .inner-header .gnb li {
    margin-right: 30px;
}

header .inner-header .gnb li a {
    /* border: 1px solid #000; */
    display: block;
}

header .inner-header .gnb li a:hover {
    color: #ff8342;
}

header .inner-header nav li a {
    font-size: 16px;
    color: #fff;
}


header .inner-header .tnb {
    /* background: greenyellow; */
    float: right;
}
header .inner-header .tnb li {
    margin-right: 25px;
}

header .inner-header .tnb li:first-child i,
header .inner-header .tnb li:nth-child(2) i {
    margin-right: 8px;
    font-size: 20px;
}

header .inner-header .tnb li:last-child a {
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 5px 15px;
}
header .inner-header .tnb li:last-child a:hover{
    background: #fff;
    color: #ff8342;
}

header .inner-header .tnb li:last-child i {
    margin-left: 5px;
}

header .inner-header nav li {
    float: left;
}

header .inner-header .gnb-mobile {
    display: none;
}

/* section.main style */
section.main {
    background: url('../img/vis_4.jpg')
        no-repeat center / cover fixed;
    height: 100vh;
    /*세로길이를 화면 전체로 처리 */
    position:relative;
}

section.main .main-title{
    /* background: yellow; */
    /* header 밑에 깔려있음 */
    position:absolute;
    /* position:relative;위에 기준점 걸기 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 10px #123;
    /* 흰 글씨는 shadow 넣어주어야함 */
    animation: uprise 2s ease-out;
}

@keyframes uprise {
    from{
        opacity:0;
        top: 60%;
    /* 밑에서 투명하게 있다가  */
    }
    to{
        opacity:1;
        top:50%;
        /* 올라올때 선명하게 */
    }
}
section.main .main-title h2 {
    font-size: 55px;
}
section.main .main-title p {
    font-size: 25px;
    margin: 20px 0;
}
section.main .main-title .view{
    font-size: 15px;
    letter-spacing: 2px;
    display: block;
    /* display를 block으로 정해줘야 가로길이 등 보더 해줄 수 있음  */
    width: 180px;
    /* 가로길이 제한 */
    margin: 0 auto;
    /* 박스 중앙정렬은 위와같이 */
    border: 1px solid #fff;
    border-radius: 40px;
    padding: 8px 0;
    position:relative;
    /* 원본한테 position 걸어주기 */
    overflow: hidden;
    /* 부모에게 overflow hidden 걸면 됨 */
}

section.main .main-title .view::after{
    content:'';
    /* after는 content 필수 */
    width: 0;
    height: 100%;
    background: rgba(255,255,255, 0.4);
    position:absolute;
    left:0;
    top:0;
    transition: 0.3s
    /* 속도를 늦춤 */
}

section.main .main-title .view:hover::after{
    width: 100%;
}

section .title {
    text-align: center;
}

section .title h2 {
    font-size: 45px;
    color: #111;
    margin-bottom: 5px;
}
section .title p {
    font-size: 18px;
    color: #555;
}
section .sub-container {
    /* background: tomato; */
    /* 모두에게 클래스 주고 통함 */
    width: 74%;
    margin: 0 auto;
    /* 섹션 선 맞추기 */
}
section.about {
    /* background: orange; */
    margin: 80px 0;
}
section.about .sub-container {
    /* background: orange; */
    margin-top: 30px;
    border-bottom: 1px solid #ddd;
}
section.about .sub-container li {
    /* border: 1px solid #000; */
    box-sizing: border-box;
    float: left;
    height: 510px;
    width: 33.3333%;
}
section.about .sub-container li .img-box {
    /* background: red; */
    overflow: hidden;
}
section.about .sub-container li .img-box img {
    width: 100%;
    transition:0.6s;
    /* 조금더 천천히 transition */
    /* hover가 아니고 원본에 걸 것 */
}

section.about .sub-container li a:hover .img-box img {
    transform: scale(1.2);
    /* 1.2배 확대 */
}
section.about ul li a .text {
    padding: 25px;
}
section.about ul li a .text h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
section.about ul li a .text p {
    font-size: 16px;
    margin-bottom: 20px;
}

section.about ul li a .text p.more {
    /* 일괄 대소문자변경 <-> lowercase */
    text-transform: uppercase;
    font-weight: 700;
    /* background: skyblue; */
    padding-left: 40px;
    /* 동그라미 들어갈 공간 만듬  */
    position:relative;

    /* border: 1px solid #000; */
}
section.about ul li a .text p.more::before {
    content: '→';
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background: #ff8342;
    /* display: block; 
    position 걸면 자동으로 display: block 됨 */
    /* 원 위치 조정 */
    position:absolute;
    left: 0;
    top: -7px;
}
/* section innovation style */
section.innovation {
    margin-bottom: 150px;
}
section.innovation .img-box {
    height: 540px;
    background: url('../img/product_1.jpg')
        no-repeat center / cover;
        position: relative;
        margin-top: 50px;
}
section.innovation .img-box .inner {
    background: #3a3c4e;
    width: 80%;
    color: #fff;
    /* border: 2px solid #000; */

    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, 0);
}
section.innovation .img-box .inner h3 {
    background: #fff;
    color: #222;
    font-size: 18px;
    padding: 25px 45px;
    box-sizing: border-box;
}
section.innovation .img-box .inner .bottom {
    padding: 35px 85px;
    box-sizing: border-box;

}
section.innovation .img-box .inner .bottom p {
    /* background: yellow; */
    float: left;
    width: 70%;
    line-height: 1.6;
}
section.innovation .img-box .inner .bottom a {
    background: orange;
    float: right;
    padding: 7px 30px;
    border-radius: 50px;
}
section.innovation .img-box .inner .bottom a:hover {
    background: #f86010;
}

/* section.me style */
section.me {
    background: url('../img/me.jpg')
        no-repeat center/cover;
    padding: 80px 0;
    margin-bottom: 150px;
}
section.me ul.list {
    margin-top: 50px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
section.me ul.list > li{
    /* 후손 말고 직속 자식에게만 지정 > */
    /* border: 3px solid #000; */
    padding: 30px 60px;
}
section.me ul.list > li:first-child {
    border-bottom: 1px solid #ddd;
}
section.me ul.list > li h3 {
    /* background: tomato; */
    font-size: 18px;
    margin-bottom: 20px;
    position: relative;
}
section.me ul.list > li h3 span {
    position:absolute;
    left: -25px;
    color: #ff8342;
    /* 아이콘은 텍스트임  */
    /* 아이콘 바깥으로 미는 과정 
    영역 밖으로 치워버리기 */
}
section.me ul.list > li p {
    line-height: 1.6;
    margin-bottom: 20px;
}
section.me ul.list > li .more {
    font-size: 16px;
    font-weight: 700;
}
section.me ul.list > li .more span {
    color: #ff8342;
    margin-left: 3px;
    font-size: 14px;
}

section.me ul.list ul.in {
    margin-bottom: 30px;
}
section.me ul.list ul.in li em {
    background: tomato;
    /* float나 position이 적용되면 자동으로 블록으로 바뀜 */
    float: left;
    width: 12%;
    /* width로 벌려서 옆에 글의 길이를 맞출 수 있음
    마진보다는 width를 줘야 글의 시작점을 맞출 수 있음  */
    font-weight: 700;
}
section.me ul.list ul.in li p {
    /* background: skyblue; */
    float: left;
    position: relative;
}

section.me ul.list ul.in li p::before {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    /* background: #ff8342; */
    position: absolute;
    left: -40px;
    top: 10px;
}

#incruit-btn {
    display: block;
    width: 280px;
    background: #ff8342;
    color: #fff;
    margin: 20px auto 0;
    font-weight: 700;
    border-radius: 50px;
    padding: 10px 0;
    cursor: pointer;
    /* 버튼이 리셋되면 손모양이 나오지 않아 버튼을 만들어줌 */
}
* section sns style */
section.sns {
    margin-bottom: 60px;
}

section.sns ul {
    margin-top: 50px;
    margin-bottom: 50px;
}
section.sns ul li {
    width: 32%;
    margin-right: 2%;
    float: left;
}
section.sns ul li:last-child {
    margin-right: 0;
}

section.sns ul li .img-box {
    /* background: orange;
    box-sizing: border-box;
    border: 5px solid #f00; */
    height: 255px;
    overflow: hidden;
    position: relative;
    /* 액자를 만들어주고 채워주고 넘치는 부분 숨기기 */
}
section.sns ul li .img-box img {
    width: 100%;
}
section.sns ul li:nth-child(2) .img-box img {
    position: absolute;
    left: 0;
    bottom: 2px;
}

section.sns ul li .img-box::before {
    content: '';
    width: 0;
    height: 100%;
    background: rgba(255, 131, 66, 0.75);
    position: absolute;
    z-index: 10;
    transition: 0.5s;
}
section.sns ul li a:hover .img-box::before {
    width: 100%;
}

section.sns ul li .img-box::after {
    content: 'BLOG';
    font-size: 15px;
    font-family: 'Exo 2', sans-serif;
    border: 1px solid #fff;
    border-radius: 40px;
    color: #fff;
    padding: 5px 30px;
    /* 정중앙 */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.7s;
}
section.sns ul li a:hover .img-box::after {
    opacity: 1;
    /* 마우스를 댔을때 */
}


section.sns ul li .bottom {
    padding: 20px 0 20px 30px;
    box-sizing: border-box;
}
section.sns ul li .bottom p {
    font-size: 18px;
}
section.sns ul li .bottom p.color {
    color: #ff8342;
    font-size: 15px;
    margin-bottom: 10px;
}
section.sns ul li .bottom p.time {
    color: #999;
    font-size: 14px;
    margin-top: 30px;
}
section.sns ul li .bottom p.time i {
    margin-right: 5px;
    font-size: 0.9em;
}
/* footer style */
footer {
    border-top: 1px solid #999;
    padding: 30px 0;
}
footer .inner {
    width: 90%;
    margin: 0 auto;
}
footer .inner .ft-logo {
    float: left;
    width: 14%;
}
footer .inner .ft-logo img {
    width: 100%;
}
footer .inner .address {
    float: left;
    margin-left: 100px;
    margin-top: 35px;
}
footer .inner .address li:first-child {
    font-weight: 700;
    margin-bottom: 10px;
}
footer .inner .address li:last-child {
    color: #999;
}

footer .inner .list {
    float: right;
    margin-top: 40px;
}
footer .inner .list li {
    float: left;
    margin-left: 80px;
}
footer .inner .list li:last-child {
    font-weight: 700;
}
footer .inner .list li a:hover {
    color: #ff8342;
    text-decoration: underline;
}